{% extends 'main/base.html' %}
{% block title %} Cloud {{status}} {% endblock title%}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',
    filename='css/main/main.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mb-3 br">
        {% if curr_user == user %}
        <div class="col-lg-3 mb-2 me-2">
            <div class="fm p-2 m-2">
                <button type="button" class="btn btn-lg btn-primary w-100"
                    data-bs-toggle="modal" data-bs-target="#form_dir"> Crear
                    directorio</button>
            </div>
        </div>
        {% endif %}

        {% for field, errors in form_create_dir.errors.items() %}
        <div class="col-sm-2 mb-2 me-2 alert alert-danger text-center
            text-break">
            {{ errors[0] }}
        </div>
        {% endfor %}

        {% for field, errors in form_upload_file.errors.items() %}
        <div class="col-sm-2 mb-2 me-2 alert alert-danger text-center
            text-break">
            {{ errors[0] }}
        </div>
        {% endfor %}

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div class="col-sm-2 mb-2 me-2 alert alert-danger text-center text-break">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="col-sm-2 mb-2 me-2 alert alert-info text-center text-break">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% if curr_user == user %}
        <div class="col-lg-3 mb-2 me-2">
            <div class="fm p-2 m-2">
                <button type="button" class="btn btn-lg btn-primary w-100"
                    data-bs-toggle="modal" data-bs-target="#form_upld">Subir
                    archivo</button>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="row justify-content-center">
        {% for folder in folders %}
        <div class="col-md-8 mb-4 me-3 cd bg-white">
            <div class="d-flex flex-column align-items-center text-break">
                <img class="w-50 h-50 mt-1" src="{{url_for('static',
                    filename='images/folder.png')}}" alt="{{folder.entry.name}}">

                {% if '/main/cloud/private/' in req.url_rule.rule %}
                
                <a href="{{ url_for('main_bp.cloud_private', path=folder.relpath ) }}"
                    title="{{folder.entry.name}}" class="h4 p-2 text-decoration-none
                    text-center">{{folder.entry.name|truncate(16)}}</a>

                {% else %}

                <a href="{{ url_for('main_bp.cloud_public', path=folder.relpath, username=user.username ) }}"
                    title="{{folder.entry.name}}" class="h4 p-2 text-decoration-none
                    text-center">{{folder.entry.name|truncate(16)}}</a>

                {% endif %}
            </div>
        </div>
        {% endfor %}

        {% for file in files %}
        <div class="col-md-8 mb-4 me-3 cd bg-white">
            <div class="d-flex flex-column align-items-center text-break">
                <img class="w-50 h-50 img-fluid mt-1" src="{{url_for('static',
                    filename='images/file-store.png')}}" alt="{{file.entry.name}}">
                <a href="{{ url_for('main_bp.cloud_download_file', path=file.relpath, username=user.username, status=status ) }}" target="_blank" class="h4 p-2 text-decoration-none text-center" title="{{file.entry.name}}">{{file.entry.name|truncate(16)}}</a>
                {% if curr_user == user %}
                <a href="{{ url_for('main_bp.cloud_delete_file', path=file.relpath, username=user.username, status=status) }}" target="_blank" class="btn btn-danger" title="{{file.entry.name}}">Eliminar archivo</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    {% if curr_user == user %}
    <div class="modals">
        <div class="modal fade" id="form_dir" tabindex="-1"
            aria-labelledby="crtdir" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-2" id="crtdir">Crear
                            directorio</h1>

                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('main_bp.cloud_create_dir', status=status, username=user.username, path=path) }}" method="POST">
                            {{ form_create_dir.hidden_tag() }}

                            {{ form_create_dir.dir(class_="form-control mt-2
                            mb-4") }}
                            {{ form_create_dir.submit(class_="w-100 btn btn-lg
                            btn-primary") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="form_upld" tabindex="-1"
            aria-labelledby="upldfile" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-2" id="upldfile">Subir archivo</h1>

                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('main_bp.cloud_upload_file',
                            status=status, username=user.username, path=path) }}" enctype=multipart/form-data
                            method="POST">
                            {{form_upload_file.hidden_tag()}}
                            {{ form_upload_file.file(class_="form-control mt-2
                            mb-4") }}

                            {{ form_upload_file.submit(class_="w-100 btn btn-lg
                            btn-primary") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content%}