{% extends 'main/base.html' %}
{% block title %} Cloud {% endblock title%}

{% block css %}

{% endblock %}

{% block content %}

<div class="w-100 m-auto">
    <div class="row justify-content-center mb-3">
        {% for field, errors in form.errors.items() %}
        <div class="col-md-2 mb-2 me-2 alert alert-danger text-center
            text-break">
            {{ errors[0] }}
        </div>
        {% endfor %}

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div class="col-md-2 mb-2 me-2 alert alert-danger text-center text-break">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="col-md-2 mb-2 me-2 alert alert-info text-center text-break">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <form method="POST" class="d-flex align-items-center flex-column">   
       <h1 class="h3 mb-3 fw-bold p-4">Estas seguro de borrar esto?</h1>

        {{ form.hidden_tag() }}

        {{ form.submit(class_="btn btn-lg btn-danger mb-2") }}

    </form>

</div>
{% endblock content %}