body {
    background-color: #F5F5F5;
    box-sizing: border-box;
    padding: 40px;
}

.container-principal {
    padding:  15px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 9px;
}