html, body {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    padding: 40px;
}

.form-reg {
    max-width: 480px;
    padding: 15px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 9px;
}

.form-reg input[type="submit"] {
    margin-top: 20px;
}

nav {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 9px;
    max-width: 500px;
}
