<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}

    <form method="post">
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />
        logout
        <input id="logout" name="logout" type="hidden" value="_logout">
        <button type="submit">Logout</button>
    </form>
</body>
</html>