<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for field, errors in form.errors.items() %}
    <div class="alert alert-error">
        {{ form[field].label }}: {{ ', '.join(errors) }}
    </div>
    
{% endfor %}
    <form method="post">
        {{form.csrf_token}}
        email {{form.email}}
        password {{form.password}}
        passwd confirmation {{form.password_confirmation}}
        username {{form.username}}
        submit {{form.submit}}
    </form>
</body>
</html>