{% extends 'auth/base.html' %}
{% block title %} Registro {% endblock title%}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/auth/register.css')}}">
{% endblock %}

{% block form_content %}
    <div class="form-reg w-100 m-auto">
        
        {% block form_errors_and_messages %}
            {{ super() }}
        {% endblock form_errors_and_messages %}

        <form method="post">

            <div class="text-center">
                <h1 class="h3 mb-3 fw-bold p-4">Registro</h1>
            </div>
            
            {{ form.hidden_tag() }}

            <div class="row g-0 mb-2">
                <div class="col-md-5 me-md-4 mb-1">
                    <div class="form-floating">
                        {{ form.username(class_="form-control") }}
                        {{ form.username.label }}
                    </div>
                </div>

                <div class="col">
                    <div class="form-floating">
                        {{ form.email(class_="form-control") }}
                        {{ form.email.label }}
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="form-floating mb-2">
                    {{ form.password(class_="form-control") }}
                    {{ form.password.label }}
                </div>
    
                <div class="form-floating">
                    {{ form.password_confirmation(class_="form-control") }}
                    {{ form.password_confirmation.label }}
                </div>
            </div>

            {{ form.submit(class_="w-100 btn btn-lg btn-primary") }}

        </form>

    </div>
{% endblock form_content %}